{{ ansible_managed | comment }}

define DEBUG_REJECT = 1;
define DEBUG_FILTER = 2;
define DEBUG_FUNCTION = 3;

define AS_LOCAL = {{ bird_as_local }};

define AS_BOGON = [ 0,                      # RFC 7607
                    23456,                  # RFC 4893 AS_TRANS
                    64496..64511,           # RFC 5398 and documentation/example ASNs
                    64512..65534,           # RFC 6996 Private ASNs
                    65535,                  # RFC 6996 Last 16 bit ASN
                    65536..65551,           # RFC 5398 and documentation/example ASNs
                    65552..131071,          # RFC IANA reserved ASNs
                    4200000000..4294967294, # RFC 6996 Private ASNs
                    4294967295 ];           # RFC 6996 Last 32 bit ASN

define P6_SPECIAL = [
    ::/128,          # RFC4291 Unspecified Address
    ::1/128,         # RFC4291 Loopback Address 
    ::ffff:0:0/96+,  # RFC4291 IPv4-mapped Address
    64:ff9b::/96+,   # RFC6052 IPv4-IPv6 Translat.
    64:ff9b:1::/48+, # RFC8215 IPv4-IPv6 Translat.
    100::/64+,       # RFC6666 Discard-Only Address Block
#    2001::/23+,      # RFC2928 IETF Protocol Assignments
    2001::/32+,      # RFC4380,RFC8190 TEREDO
    2001:2::/48+,    # RFC5180 Benchmarking
    2001:db8::/32+,  # RFC7450 Documentation
    2002::/16+,      # RFC3056 6to4
    fc00::/7+,       # RFC4193,RFC8190 Unique-Local
    fe80::/10+       # RFC4291 Link-Local Unicast
];

define P4_SPECIAL = [
    0.0.0.0/8{1,8},    # RFC1122
    10.0.0.0/8+,       # RFC1918 Private-Use
    100.64.0.0/10+,    # RFC6598 Shared Address Space
    127.0.0.0/8+,      # RFC1122 Loopback
    169.254.0.0/16+,   # RFC3927 Link Local
    172.16.0.0/12+,    # RFC1918 Private-Use
    192.0.0.0/24+,     # RFC6890 IETF Protocol Assignments
    192.0.2.0/24+,     # RFC5737 Documentation (TEST-NET-1)
    192.88.99.0/24+,   # RFC7526 Deprecated (6to4 Relay Anycast)
    192.168.0.0/16+,   # RFC1918 Private-Use
    198.18.0.0/15+,    # RFC2544 Benchmarking
    198.51.100.0/24+,  # RFC5737 Documentation (TEST-NET-2)
    203.0.113.0/24+,   # RFC5737 Documentation (TEST-NET-3)
    224.0.0.0/4+,      # RFC5771 Multicast Address Space
    240.0.0.0/4+,      # RFC1112 
    255.255.255.255/32 # RFC8190,RFC919 Limited Broadcast
];


define P6_DEFAULT_GATEWAY = [
    ::/0
];

define P4_DEFAULT_GATEWAY = [
    0.0.0.0/0
];

define P6_TOO_SPECIFIC = [
    ::/0{49,128}
];

define P4_TOO_SPECIFIC = [
    0.0.0.0/0{25,32}
];

define P6_LOCAL = [ {{ bird_prefix6_local | map('regex_replace', '^(.*)$', '\\1+') | join(', ') }} ];
define P4_LOCAL = [ {{ bird_prefix4_local | map('regex_replace', '^(.*)$', '\\1+') | join(', ') }} ];


{% if bird_prefix6_transfer %}define P6_TRANSFER = [ {{ bird_prefix6_transfer | join(', ') }} ];
{% endif %}
{% if bird_prefix4_transfer %}define P6_TRANSFER = [ {{ bird_prefix4_transfer | join(', ') }} ];
{% endif %}

{% if bird_prefix6_ixp %}define P6_IXP = [ {{ bird_prefix6_ixp | join(', ') }} ];
{% endif %}
{% if bird_prefix4_ixp %}define P4_IXP = [ {{ bird_prefix4_ixp | join(', ') }} ];
{% endif %}

define C_BLACKHOLE = (65535, 666);
define C_NO_EXPORT = (65535, 65281);
define C_GRACEFUL_SHUTDOWN = (65535, 0);

define C_PRIVATE = [
  (64496..64511, *),           # RFC 5398 and documentation/example ASNs
  (64512..65534, *)           # RFC 6996 Private ASNs
#  (65535, *)                   # RFC 6996 Last 16 bit ASN
];

define LC_PRIVATE = [
  (64496..64511, *, *),           # RFC 5398 and documentation/example ASNs
  (64512..65534, *, *),           # RFC 6996 Private ASNs
  (65535, *, *),                  # RFC 6996 Last 16 bit ASN
  (65536..65551, *, *),           # RFC 5398 and documentation/example ASNs
  (65552..131071, *, *),          # RFC IANA reserved ASNs
  (4200000000..4294967294, *, *), # RFC 6996 Private ASNs
  (4294967295, *, *)           # RFC 6996 Last 32 bit ASN
];

define C_CONNECTED = (23456, 1);

define LC_LOCAL = [(AS_LOCAL, *, *)];

define LC_FAULTY = (AS_LOCAL, 0, 0);

define LC_ACTION = [(AS_LOCAL,10000..19999, *)];

define LC_DEFAULT_GW = (AS_LOCAL, 0, 0);
define LC_CONNECTED = (AS_LOCAL, 1, 0);
define LC_STATIC = (AS_LOCAL, 2, 0);
define LC_PULLUP = (AS_LOCAL, 3, 0);
define LC_TO_DOWNSTREAM = (AS_LOCAL, 10100, 0);
define LC_FROM_DOWNSTREAM = (AS_LOCAL, 100, 0);
define LC_TO_PEER = (AS_LOCAL, 10200, 0);
define LC_FROM_PEER = (AS_LOCAL, 200, 0);
define LC_TO_UPSTREAM = (AS_LOCAL, 10300, 0);
define LC_FROM_UPSTREAM = (AS_LOCAL, 300, 0);
define LC_TO_PEER_PARTIAL_TRANSIT = (AS_LOCAL, 10400, 0);
define LC_FROM_PEER_PARTIAL_TRANSIT = (AS_LOCAL, 400, 0);

define LP_DEFAULT_GW = 1000;
define LP_PULLUP = 10;
define LP_CONNECTED = 1000;
define LP_STATIC = 1000;
define LP_DOWNSTREAM_DEFAULT = 30000;
define LP_PEER_DEFAULT = 20000;
define LP_UPSTREAM_DEFAULT = 10000;
define LP_PEER_PARTIAL_TRANSIT_DEFAULT = 20000;
define LP_IXP_DEFAULT = 15000;

define MED_DOWNSTREAM_DEFAULT = 1000;
define MED_PEER_DEFAULT = 1000;
define MED_UPSTREAM_DEFAULT = 1000;
define MED_PEER_PARTIAL_TRANSIT_DEFAULT = 1000;
define MED_IXP_DEFAULT = 1000;
