{{ ansible_managed | comment }}

#fucntion to print debug output
function debug_print(int debug_level; int debug_level_active; bool verbose; string text)
{
  if debug_level >= debug_level_active then {
    if verbose then {
      printn(text);
      printn(": ");
      printn(net);
      printn(" via ");
      printn(from);
      printn(" (");
      printn(proto);
      printn("|");
      printn(source);
      printn(")");
      case source {
        RTS_BGP:
          printn(" ");
          printn(bgp_path);
          printn(" ");
          printn(bgp_community);
          printn(" ");
          printn(bgp_large_community);
      }
      print("");
    }
    else {
      print(text);
    }
  }
}

#mark with fault configuration
function mark_lc_faulty (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_lc_faulty");
  bgp_large_community.add(LC_FAULTY);
}

#reject if first AS is not neighbor
function reject_as_not_neighbor (int debug_level; int peer_as)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "reject_as_not_neighbor");
  if bgp_path.first != peer_as then {
      debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_as_not_neighbor");
      reject;
    }
}

# deny own prefixes RFC7454 6.1.4
function reject_p_local (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "reject_p_local");
  case net.type {
    NET_IP6: if net ~ P6_LOCAL then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_local (IPv6)");
        reject;
      }
    NET_IP4: if net ~ P4_LOCAL then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_local (IPv4)");
        reject;
      }
    else: debug_print(0, 0, true, "FAIL reject_p_local wrong ip version");
  }
}

# deny special-purpose prefixes RFC7454 6.1.1
function reject_p_special (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "reject_p_special");
  case net.type {
    NET_IP6: if net ~ P6_SPECIAL then {
        debug_print(debug_level, DEBUG_REJECT, false, "REJECT reject_p_special (IPv6)");
        reject;
      }
    NET_IP4: if net ~ P4_SPECIAL then {
          debug_print(debug_level, DEBUG_REJECT, false, "REJECT reject_p_special");
          reject;
      }
    else: debug_print(0, 0, true, "FAIL reject_p_special wrong ip version");
  }
}


# deny default route RFC7454 6.1.6
function reject_p_default_gateway (int debug_level)
{
    debug_print(debug_level, DEBUG_FUNCTION, false, "reject_p_default_gateway");
    case net.type {
    NET_IP6: if net ~ P6_DEFAULT_GATEWAY then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_default_gateway (IPv6)");
        reject;
      }
    NET_IP4: if net ~ P4_DEFAULT_GATEWAY then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_default_gateway (IPv4)");
        reject;
      }
    else: debug_print(0, 0, true, "FAIL reject_p_default_gateway wrong ip version");
  }
}

function match_p_too_specific (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "match_p_too_specific");
  case net.type {
    NET_IP6: return net ~ P6_TOO_SPECIFIC;
    NET_IP4: return net ~ P4_TOO_SPECIFIC;
    else: debug_print(0, 0, true, "FAIL match_p_too_specific wrong ip version");
  }
}

function match_c_no_export (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "match_c_no_export");
  return (C_NO_EXPORT ~ bgp_community);
}

function match_c_balckhole_community (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "match_c_balckhole_community");
  return (C_BLACKHOLE ~ bgp_community);
}

# deny too specific prefixes RFC7454 6.1.3
# we allow too specific prefixes with blackhole community or no-export community
function reject_p_too_specific (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "reject_p_too_specific ");
  if match_p_too_specific(debug_level) && !( match_c_no_export(debug_level) || match_c_balckhole_community(debug_level) ) then {
    debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_too_specific ");
    reject;
  }
}

# deny IXP prefixes RFC7454 6.1.4
function reject_p_ixp (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "reject_p_ixp");
  case net.type {
    NET_IP6: {% if bird_prefix6_ixp %}if net ~ P6_IXP then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_ixp (IPv6)");
        reject;
      }{% else %}accept;{% endif %}
    NET_IP4: {% if bird_prefix4_ixp %}if net ~ P4_IXP then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_ixp (IPv4)");
        reject;
      }{% else %}accept;{% endif %}
    else: debug_print(0, 0, true, "FAIL ... wrong ip version");
  }
}

function reject_p_transfer (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "reject_p_transfer");
  case net.type {
    NET_IP6: {% if bird_prefix6_transfer %}if net ~ P6_TRANSFER then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_transfer (IPv6)");
        reject;
      }{% else %}accept;{% endif %}
    NET_IP4: {% if bird_prefix4_transfer %}if net ~ P4_TRANSFER then {
        debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_p_transfer (IPv4)");
        reject;
      }{% else %}accept;{% endif %}
    else: debug_print(0, 0, true, "FAIL ... wrong ip version");
  }
}

# deny reserved and private ASN RFC7454 9
function reject_as_bogon (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "reject_as_bogon");
  if bgp_path ~ AS_BOGON then {
    debug_print(debug_level, DEBUG_REJECT, true, "REJECT reject_as_bogon");
    reject;
  }
}

# scrub private communities
function clean_c_private (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_c_private");
  bgp_community.delete(C_PRIVATE);
}

# scrub private lagre communities
function clean_lc_private (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_lc_private");
  bgp_large_community.delete(LC_PRIVATE);
}

# scrub own large communities RFC7454 11
function clean_lc_local (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_lc_local");
  bgp_large_community.delete(LC_LOCAL);
}

function clean_next_hop (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_next_hop");
  bgp_next_hop = from;
}

function set_local_pref (int debug_level; int local_pref)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "set_local_pref");
  bgp_local_pref = local_pref;
}

function set_med (int debug_level; int m)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "set_med");
  bgp_med = m;
}

# graceful shutdown draft-ietf-grow-bgp-gshut
function graceful_shutdown (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "graceful_shutdown");
  if C_GRACEFUL_SHUTDOWN ~ bgp_community then {
    bgp_local_pref = 0;
    bgp_med = bgp_med + 1000000;
  }
}

function clean_lc_action (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_lc_faulty");
  bgp_large_community.delete(LC_ACTION);
}

function clean_lc_faulty (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_lc_faulty");
  bgp_large_community.delete([LC_FAULTY]);
}

function mark_lc_from_upstream (int debug_level; int peer_as)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_from_upstream");
  bgp_large_community.add(LC_FROM_UPSTREAM);
}

function mark_lc_to_downstream (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_to_downstream");
  bgp_large_community.add(LC_TO_DOWNSTREAM);
}

function upstream_pre_in (int debug_level; int peer_as)
{
  debug_print(debug_level, DEBUG_FUNCTION, true, "upstream_pre_in begin");
  mark_lc_faulty(debug_level);
  reject_as_not_neighbor(debug_level, peer_as);
  reject_p_local(debug_level);
  reject_p_special(debug_level);
  reject_p_default_gateway(debug_level);
  reject_p_too_specific(debug_level);
  reject_p_ixp(debug_level);
  reject_p_transfer(debug_level);
  reject_as_bogon(debug_level);
  clean_c_private(debug_level);
  clean_lc_private(debug_level);
  clean_lc_local(debug_level);
  clean_next_hop(debug_level);
  set_local_pref(debug_level, LP_UPSTREAM_DEFAULT);
  mark_lc_from_upstream(debug_level, peer_as);
  mark_lc_to_downstream(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "upstream_pre_in end");
}

function upstream_post_in (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "upstream_post_in begin: ");
  graceful_shutdown(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "upstream_post_in end");
}

function clean_upstream_out(int debug_level)
{
  if LC_TO_UPSTREAM !~ bgp_large_community then {
      debug_print(debug_level, DEBUG_REJECT, true, "REJECT clean_upstream_out");
      reject;
  }
}

function upstream_pre_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "upstream_pre_out begin");
  mark_lc_faulty(debug_level);
  clean_upstream_out(debug_level);
  set_med(debug_level, MED_UPSTREAM_DEFAULT);
  debug_print(debug_level, DEBUG_FUNCTION, false, "upstream_pre_out end");
}

function upstream_post_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "upstream_post_out begin");
  clean_lc_action(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "upstream_post_out end");
}

# clean downstream prefixes RFC7454 6.2.2.1
function clean_p_peer (int debug_level; prefix set prefix_set)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_p_peer");
  if net !~ prefix_set then {
    debug_print(debug_level, DEBUG_REJECT, true, "REJECT clean_p_peer");
    reject;
  }
}

function clean_as_path(int debug_level; int set as_set)
bgppath clean_as_set;
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_as_path");
  clean_as_set = delete(bgp_path, as_set);
  if clean_as_set.len > 0 then {
    debug_print(debug_level, DEBUG_REJECT, true, "REJECT clean_as_path");
    reject;
  }
}

function mark_lc_from_downstream (int debug_level; int peer_as)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_from_downstream");
  bgp_large_community.add(LC_FROM_DOWNSTREAM);
}

function mark_lc_to_peer (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_to_peer");
  bgp_large_community.add(LC_TO_PEER);
}

function mark_lc_to_upstream (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_to_upstream");
  bgp_large_community.add(LC_TO_UPSTREAM);
}

function downstream_pre_in (int debug_level; int peer_as; int set as_set; prefix set prefix_set)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_pre_in begin");
  mark_lc_faulty(debug_level);
  clean_p_peer(debug_level, prefix_set);
  clean_as_path(debug_level, as_set);
  reject_as_not_neighbor(debug_level, peer_as);
  reject_p_local(debug_level);
  reject_p_special(debug_level);
  reject_p_default_gateway(debug_level);
  reject_p_too_specific(debug_level);
  reject_p_ixp(debug_level);
  reject_p_transfer(debug_level);
  reject_as_bogon(debug_level);
  clean_c_private(debug_level);
  clean_lc_private(debug_level);
  clean_lc_local(debug_level);
  clean_next_hop(debug_level);
  set_local_pref(debug_level, LP_DOWNSTREAM_DEFAULT);
  mark_lc_from_downstream(debug_level, peer_as);
  mark_lc_to_downstream(debug_level);
  mark_lc_to_peer(debug_level);
  mark_lc_to_upstream(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_pre_in end");
}

function downstream_post_in (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_post_in begin");
  graceful_shutdown(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_post_in end");
}

function clean_downstream_out(int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_downstream_out");
  if LC_TO_DOWNSTREAM !~ bgp_large_community then {
      debug_print(debug_level, DEBUG_REJECT, true, "REJECT clean_downstream_out");
      reject;
  }
}

function downstream_pre_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_pre_out begin");
  mark_lc_faulty(debug_level);
  clean_downstream_out(debug_level);
  set_med(debug_level, MED_DOWNSTREAM_DEFAULT);
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_pre_out end");
}

function downstream_post_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_post_out begin: ");
  clean_lc_action(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "downstream_post_out end");
}

function mark_lc_from_peer (int debug_level; int peer_as)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_from_peer");
  bgp_large_community.add(LC_FROM_PEER);
}

function peer_pre_in (int debug_level; int peer_as; int set as_set; prefix set prefix_set)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_pre_in begin");
  mark_lc_faulty(debug_level);
  clean_p_peer(debug_level, prefix_set);
  clean_as_path(debug_level, as_set);
  reject_as_not_neighbor(debug_level, peer_as);
  reject_p_local(debug_level);
  reject_p_special(debug_level);
  reject_p_default_gateway(debug_level);
  reject_p_too_specific(debug_level);
  reject_p_ixp(debug_level);
  reject_p_transfer(debug_level);
  reject_as_bogon(debug_level);
  clean_c_private(debug_level);
  clean_lc_private(debug_level);
  clean_lc_local(debug_level);
  clean_next_hop(debug_level);
  set_local_pref(debug_level, LP_PEER_DEFAULT);
  mark_lc_from_peer(debug_level, peer_as);
  mark_lc_to_downstream(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_pre_in end");
}

function peer_post_in (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_post_in begin");
  graceful_shutdown(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_post_in end");
}

function clean_peer_out(int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "clean_peer_out");
  if LC_TO_PEER !~ bgp_large_community then {
      debug_print(debug_level, DEBUG_REJECT, true, "REJECT clean_peer_out");
      reject;
  }
}

function peer_pre_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_pre_out begin");
  mark_lc_faulty(debug_level);
  clean_peer_out(debug_level);
  set_med(debug_level, MED_PEER_DEFAULT);
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_pre_out end");
}

function peer_post_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_post_out begin");
  clean_lc_action(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "peer_post_out end");
}

function ixp_pre_in (int debug_level; int peer_as; int set as_set; prefix set prefix_set)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_pre_in begin");
  mark_lc_faulty(debug_level);
  clean_p_peer(debug_level, prefix_set);
  clean_as_path(debug_level, as_set);
  reject_p_local(debug_level);
  reject_p_special(debug_level);
  reject_p_default_gateway(debug_level);
  reject_p_too_specific(debug_level);
  reject_p_ixp(debug_level);
  reject_p_transfer(debug_level);
  reject_as_bogon(debug_level);
  clean_c_private(debug_level);
  clean_lc_private(debug_level);
  clean_lc_local(debug_level);
  set_local_pref(debug_level, LP_IXP_DEFAULT);
  mark_lc_from_peer(debug_level, peer_as);
  mark_lc_to_downstream(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_pre_in end");
}

function ixp_post_in (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_post_in begin");
  graceful_shutdown(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_post_in end");
}

function ixp_pre_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_pre_out begin");
  mark_lc_faulty(debug_level);
  clean_peer_out(debug_level);
  set_med(debug_level, MED_IXP_DEFAULT);
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_pre_out end");
}

function ixp_post_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_post_out begin");
  clean_lc_action(debug_level);
  clean_lc_faulty(debug_level);
  debug_print(debug_level, DEBUG_FUNCTION, false, "ixp_post_out end");
}

#mark as connected route
function mark_lc_connected (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_lc_direct");
  bgp_large_community.add(LC_CONNECTED);
}

#mark as static route
function mark_lc_static (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_lc_static");
  bgp_large_community.add(LC_STATIC);
}

#mark as pullup route
function mark_lc_pullup (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_lc_pullup");
  bgp_large_community.add(LC_PULLUP);
}

#mark as default gw
function mark_lc_default_gw (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_lc_default_gw");
  bgp_large_community.add(LC_DEFAULT_GW);
}

function mark_ibgp_export (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "mark_ibgp_export");
  ibgp_export = 1;
}

function ibgp_pre_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_pre_out begin");

  case source {
    RTS_DEVICE:
      mark_ibgp_export(debug_level);
    RTS_STATIC:
      mark_ibgp_export(debug_level);
    RTS_BGP:
      mark_ibgp_export(debug_level);
    else:
      if !defined(ibgp_export) then {
        ibgp_export = 0;
      }
  }
  if ibgp_export != 1 then {
    debug_print(debug_level, DEBUG_FUNCTION, true, "REJECT: clean_ibgp_out");
    reject;
  }

  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_pre_out end");
}

function ibgp_post_out (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_post_out begin");
  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_post_out end");
}

function ibgp_pre_in (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_pre_in begin");
  if LC_PULLUP ~ bgp_large_community then {
     preference = 5;
  }
  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_pre_in end");
}

function ibgp_post_in (int debug_level)
{
  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_post_in begin");
  debug_print(debug_level, DEBUG_FUNCTION, false, "ibgp_post_in end");
}
