{{ ansible_managed | comment }}

define debug_direct = 0;

filter f_direct {
    debug_print(debug_direct, DEBUG_FILTER, false, "f_direct begin");

    mark_lc_connected(debug_direct);

    debug_print(debug_direct, DEBUG_FILTER, false, "f_direct end");

    accept;
}

define debug_ospf = 0;

filter f_ospf {
    debug_print(debug_ospf, DEBUG_FILTER, false, "f_ospf begin");

    case source {
        RTS_DEVICE:
{#
        RTS_STATIC:
#}
    else:
        debug_print(debug_ospf, DEBUG_FILTER, true, "REJECT: f_ospf");
        reject;
    }

    debug_print(debug_ospf, DEBUG_FILTER, false, "f_ospf end");

    accept;
}

define debug_kernel_in = 0;

filter f_kernel_in {
    debug_print(debug_kernel_in, DEBUG_FILTER, false, "f_kernel_in begin");

    if ifname ~ "veth*" then {
        mark_lc_connected(debug_kernel_in);
        mark_ibgp_export(debug_kernel_in);
        accept;
    }

    debug_print(debug_kernel_in, DEBUG_FILTER, false, "f_kernel_in end");

    reject;
}
