{{ ansible_managed | comment }}

template bgp _default {
    prefer older yes;
}

template bgp default6 from _default {
    ipv6 {
        import none;
        export none;
        add paths yes;
    };
}

template bgp default4 from _default {
    ipv4 {
        import none;
        export none;
        add paths yes;
    };
}
