{{ ansible_managed | comment }}

protocol direct direct0 {
    check link yes;
    ipv6 {
        table master6;
        export none;
        import filter f_direct;
    };
    ipv4 {
        table master4;
        export none;
        import filter f_direct;
    };
}

