{{ ansible_managed | comment }}

define debug_static = 0;

{% if bird_pullup and bird_prefix6_local %}
protocol static pullup6 {
    #inject own networks;
{% for prefix in bird_prefix6_local %}
    route {{ prefix }} blackhole {
            preference = 10;
            set_local_pref(debug_static, LP_PULLUP);
            mark_lc_pullup(debug_static);
            mark_lc_to_downstream(debug_static);
            mark_lc_to_peer(debug_static);
            mark_lc_to_upstream(debug_static);
    };
{% endfor %}
    ipv6 {
        preference 0;
        table master6;
    };
}
{% endif %}

{% if bird_ipv4_enabled and bird_pullup and bird_prefix4_local %}
protocol static pullup4 {
    #inject own networks;
{% for prefix in bird_prefix4_local %}
    route {{ prefix }} blackhole {
            preference = 10;
            set_local_pref(debug_static, LP_PULLUP);
            mark_lc_pullup(debug_static);
            mark_lc_to_downstream(debug_static);
            mark_lc_to_peer(debug_static);
            mark_lc_to_upstream(debug_static);
    };
{% endfor %}
    ipv4 {
        preference 0;
        table master4;
    };
}
{% endif %}

{% if bird_inject_default_gw %}
protocol static default_gw6 {
    #inject deafault gw;
    route ::/0 unreachable {
            set_local_pref(debug_static, LP_DEFAULT_GW);
            mark_lc_default_gw(debug_static);
    };
    ipv6 {
        preference 0;
        table master6;
    };
}

protocol static default_gw4 {
    #inject deafault gw;
    route 0.0.0.0/0 unreachable {
            set_local_pref(debug_static, LP_DEFAULT_GW);
            mark_lc_default_gw(debug_static);
    };
    ipv4 {
        preference 0;
        table master4;
    };
}
{% endif %}
