{{ ansible_managed | comment }}

protocol kernel kernel6 {
    persist no;
    graceful restart yes;
    learn yes;
    merge paths yes;
    metric 512;
    ipv6 {
        table master6;
        export filter {
{% if bird_prefered_source6 %}
            krt_prefsrc = {{ bird_prefered_source6 }};
{% endif %}
            accept;
        };
        import filter f_kernel_in;
    };
}

{% if bird_ipv4_enabled %}
protocol kernel kernel4 {
    persist no;
    graceful restart yes;
    learn yes;
    merge paths yes;
    metric 512;
    ipv4 {
        table master4;
        export filter {
{% if bird_prefered_source4 %}
            krt_prefsrc = {{ bird_prefered_source4 }};
{% endif %}
            accept;
        };
        import filter f_kernel_in;
    };
}
{% endif %}
