{{ ansible_managed | comment }}

protocol ospf v3 ospf6 {
    ipv6 {
        table master6;
        import all;
        export filter f_ospf;
    };
    area 0 {
{% for interface in bird_ospf_interfaces %}
        interface "{{ interface.name }}" {
            cost {{ interface.cost | default(bird_ospf_cost_default) }};
{% if bird_bfd and interface.bfd | default(True) %}
            bfd yes;
{% endif %}
{% if interface.neighbor | default([]) | ipv6 %}
            neighbors {
{% for ip in interface.neighbor | ipv6 if ip not in ansible_facts.all_ipv6_addresses  %}
                {{ ip }};
{% endfor %}
            };
{% endif %}
        };
{% endfor %}
    };
}

{% if bird_ipv4_enabled %}
protocol ospf v2 ospf4 {
    ipv4 {
        table master4;
        import all;
        export filter f_ospf;
    };
    area 0 {
{% for interface in bird_ospf_interfaces %}
        interface "{{ interface.name }}" {
            cost {{ interface.cost | default(bird_ospf_cost_default) }};
{% if bird_bfd and interface.bfd | default(True) %}
            bfd yes;
{% endif %}
{% if interface.neighbor | default([]) | ipv4 %}
            neighbors {
{% for ip in interface.neighbor | ipv4 if ip not in ansible_facts.all_ipv4_addresses  %}
                {{ ip }};
{% endfor %}
            };
{% endif %}
        };
{% endfor %}
    };
}
{% endif %}
