{{ ansible_managed | comment }}

define DEBUG_IBGP = 0;

{% for neighbor in bird_ibgp %}
{% if 'remote_ipv6' in neighbor and neighbor.remote_ipv6 != neighbor.local_ipv6 %}
protocol bgp ibgp_{{ neighbor.name }}_6 from default6 {
    description "{{ neighbor.description | default(neighbor.name) }}";
    neighbor {{ neighbor.remote_ipv6 }} as AS_LOCAL;
    local {{ neighbor.local_ipv6 }} as AS_LOCAL;
{% if bird_bfd and neighbor.bfd | default(True) %}
    bfd yes;
{% endif %}
{% if neighbor.rr_client | default(False) %}
    rr client;
{% endif %}
    hold time 30;
    startup hold time 5;
    keepalive time 5;
    connect delay time 1;
    connect retry time 2;
    error wait time 5, 30;;
    ipv6 {
{% if neighbor.mikrotik | default(False) %}
        next hop self;
{% endif %}
        import filter {
            ibgp_pre_in(DEBUG_IBGP);
{% if neighbor.mikrotik | default(False)	%}
            if C_CONNECTED ~ bgp_community then {
              mark_lc_connected(0);
              bgp_community.delete(C_CONNECTED);
            }
            gw = from;
{% endif %}
            ibgp_post_in(DEBUG_IBGP);
            accept;
        };
        export filter {
            ibgp_pre_out(DEBUG_IBGP);
{% if neighbor.reduced | default(False)	%}
            if bgp_path.len > 0 then {
              reject;
            }
{% else %}
            reject_p_default_gateway(DEBUG_IBGP);
{% endif %}
            ibgp_post_out(DEBUG_IBGP);
            accept;
        };
    };
}
{% endif %}

{% if bird_ipv4_enabled and 'remote_ipv4' in neighbor and neighbor.remote_ipv4 != neighbor.local_ipv4 %}
protocol bgp ibgp_{{ neighbor.name }}_4 from default4 {
    description "{{ neighbor.description | default(neighbor.name) }}";
    neighbor {{ neighbor.remote_ipv4 }} as AS_LOCAL;
    local {{ neighbor.local_ipv4 }} as AS_LOCAL;
{% if bird_bfd and neighbor.bfd | default(True) %}
    bfd yes;
{% endif %}
{% if neighbor.rr_client | default(False) %}
    rr client;
{% endif %}
    hold time 30;
    startup hold time 5;
    keepalive time 5;
    connect delay time 1;
    connect retry time 2;
    error wait time 5, 30;;
    ipv4 {
{% if neighbor.mikrotik | default(False) %}
        next hop self;
{% endif %}
        import filter {
            ibgp_pre_in(DEBUG_IBGP);
{% if neighbor.mikrotik | default(False)	%}
            if C_CONNECTED ~ bgp_community then {
              mark_lc_connected(0);
              bgp_community.delete(C_CONNECTED);
            }
            gw = from;
{% endif %}
            ibgp_post_in(DEBUG_IBGP);
            accept;
        };
        export filter {
            ibgp_pre_out(DEBUG_IBGP);
{% if neighbor.reduced | default(False)	%}
            if bgp_path.len > 0 then {
              reject;
            }
{% else %}
            reject_p_default_gateway(DEBUG_IBGP);
{% endif %}
            ibgp_post_out(DEBUG_IBGP);
            accept;
        };
    };
}
{% endif %}
{% endfor %}
