{{ ansible_managed | comment }}

{% for neighbor in bird_ebgp %}
{% if 'remote_ipv6' in neighbor %}
protocol bgp ebgp_{{ neighbor.name }}_6 from default6 {
    description "{{ neighbor.description | default(neighbor.name) }}";
    neighbor {{ neighbor.remote_ipv6 }} as {{ neighbor.remote_as }};
    local {{ neighbor.local_ipv6 | default("") }} as AS_LOCAL;
{% if bird_bfd and neighbor.bfd | default(False) %}
    bfd yes;
{% endif %}
    ipv6 {
        import filter {
{% if neighbor.type == 'upstream' %}
            upstream_pre_in (0, {{ neighbor.remote_as }});
            upstream_post_in (0);
            accept;
{% elif neighbor.type == 'ixp' %}
            ixp_pre_in (0, {{ neighbor.remote_as }}, {{ neighbor.remote_as_set | replace("-", "_") }}, {{ neighbor.remote_as_set | replace("-", "_") }}_ipv6);
            ixp_post_in (0);
            accept;
{% else %}
            #peering, transit is not implemented yet
            reject;
{% endif %}
        };
        export filter {
{% if neighbor.type == 'upstream' %}
            upstream_pre_out(0);
            upstream_post_out (0);
            accept;
{% elif neighbor.type == 'ixp' %}
            ixp_pre_out(0);
            ixp_post_out (0);
            accept;
{% else %}
            #peering, transit is not implemented yet
            reject;
{% endif %}
        };
    };
}
{% endif %}

{% if bird_ipv4_enabled and 'remote_ipv4' in neighbor %}
protocol bgp ebgp_{{ neighbor.name }}_4 from default4 {
    description "{{ neighbor.description | default(neighbor.name) }}";
    neighbor {{ neighbor.remote_ipv4 }} as {{ neighbor.remote_as }};
    local {{ neighbor.local_ipv4|default("") }} as AS_LOCAL;
{% if bird_bfd and neighbor.bfd | default(False) %}
    bfd yes;
{% endif %}
    ipv4 {
        import filter {
{% if neighbor.type == 'upstream' %}
            upstream_pre_in (0, {{ neighbor.remote_as }});
            upstream_post_in (0);
            accept;
{% elif neighbor.type == 'ixp' %}
            ixp_pre_in (0, {{ neighbor.remote_as }}, {{ neighbor.remote_as_set | replace("-", "_") }}, {{ neighbor.remote_as_set | replace("-", "_") }}_ipv4);
            ixp_post_in (0);
            accept;
{% else %}
            #peering, transit is not implemented yet
            reject;
{% endif %}
        };
        export filter {
{% if neighbor.type == 'upstream' %}
            upstream_pre_out(0);
            upstream_post_out (0);
            accept;
{% elif neighbor.type == 'ixp' %}
            ixp_pre_out(0);
            ixp_post_out (0);
            accept;
{% else %}
            #peering, transit is not implemented yet
            reject;
{% endif %}
        };
    };
}
{% endif %}
{% endfor %}
