{{ ansible_managed | comment }}

protocol radv {
{% if not bird_radv_interfaces %}
  disabled;
{% endif %}
  ipv6 {
    table master6;
  };
{% for interface in bird_radv_interfaces %}
  interface "{{ interface.name }}" {
{% if interface.resolver | default([]) %}
    rdnss {
{% for resolver in interface.resolver | default([]) %}
      ns {{ resolver }};
{% endfor %}
    };
{% endif %}
  };
{% endfor %}
}
