#!/usr/bin/env bash

{{ ansible_managed | comment }}

set -e

(
{% for AS_SET in bird_ebgp | selectattr('remote_as_set', 'defined') | map(attribute='remote_as_set') | unique %}
DATA=$(bgpq4 -h rr1.ntt.net -l "define {{ AS_SET | replace("-", "_") }}" "{{ AS_SET }}" -b -t)
if [ -n "${DATA}" ]; then
  echo ${DATA}
else
  echo "define {{ AS_SET | replace("-", "_") }} = [65535];"
fi
DATA=$(bgpq4 -h rr1.ntt.net -l "define {{ AS_SET | replace("-", "_") }}_ipv6" "{{ AS_SET }}" -b -6)
if [ -n "${DATA}" ]; then
  echo ${DATA}
else
  echo "define {{ AS_SET | replace("-", "_") }}_ipv6 = [ ::/128 ];"
fi
DATA=$(bgpq4 -h rr1.ntt.net -l "define {{ AS_SET | replace("-", "_") }}_ipv4" "{{ AS_SET }}" -b -4)
if [ -n "${DATA}" ]; then
  echo ${DATA}
else
  echo "define {{ AS_SET | replace("-", "_") }}_ipv4 = [ 0.0.0.0/32 ];"
fi
{% else %}
echo
{% endfor %}
) > /tmp/15_as_set.conf

chmod 644 /tmp/15_as_set.conf

mv /tmp/15_as_set.conf {{ bird_conf_d }}/15_as_set.conf
